{% extends 'base.html.twig' %}

{% block title %}Edit Entreprise{% endblock %}

{% block body %}
    <h1>Edit Entreprise</h1>

    {{ include('entreprise/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entreprise_index') }}">back to list</a>

    {{ include('entreprise/_delete_form.html.twig') }}
{% endblock %}