{% extends 'base.html.twig' %}

{% block title %}Entreprise index{% endblock %}

{% block body %}
    <h1>Entreprise index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Adresse</th>
                <th>Cp</th>
                <th>Ville</th>
                <th>Domaine</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.id }}</td>
                <td>{{ entreprise.title }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.cp }}</td>
                <td>{{ entreprise.ville }}</td>
                <td>{{ entreprise.domaine }}</td>
                <td>{{ entreprise.contact }}</td>
                <td>{{ entreprise.email }}</td>
                <td>{{ entreprise.message }}</td>
                <td>
                    <a href="{{ path('entreprise_show', {'id': entreprise.id}) }}">show</a>
                    <a href="{{ path('entreprise_edit', {'id': entreprise.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entreprise_new') }}">Create new</a>
{% endblock %}