{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
<div class="text-center">
<a href="{{ path('stage_new') }}" class="btn btn-warning btn-lg m-3 text-dark">Créer un stage </a>

</div>
    
    <div class="col-6">
        <h1>Mon profil</h1>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ entreprise.title }}</h4>
                <h5 class="card-subtitle mb-2">Domaine d'activité: {{ entreprise.domaine }}</h5>
                <p class="card-text">Présentation de l'entreprise: {{ entreprise.message }}</p>
                <p class="card-text">{{ entreprise.adresse }}</p>
                <p class="card-text">{{ entreprise.cp}} {{ entreprise.ville}}</p>
                <a class="card-link">Adresse e-mail: {{ entreprise.email}}</a>
                <a  class="card-link">Conact: {{ entreprise.contact}}</a>
            </div>
        </div>
    </div>
      <div class="col-6">
        <h1>Mes offres</h1>

      </div>

    


    <a href="{{ path('entreprise_index') }}">back to list</a>

    <a href="{{ path('entreprise_edit', {'id': entreprise.id}) }}">edit</a>

    {{ include('entreprise/_delete_form.html.twig') }}
{% endblock %}