{% extends 'base.html.twig' %}

{% block title %}Ado Stage!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="jumbotron text-center">
    <h1 class="display-3">Salut Ado Stage</h1>
    <p class="lead">Tu cherches un stage</p>
    <p class="lead">
        <a class="btn btn-warning btn-lg text-dark" href="#" role="button">Voir plus</a>
    </p>
</div>
<h1 class="text-center">Les stages</h1>
<div class="container-fluid">
    {% for entreprise in entreprises %}
    <div class="row">
        <div class="col-md-3">
            <div class="card border-warning mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ entreprise.title}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ entreprise.title }}</h4>
                    <p class="card-text">{{ entreprise.adresse }}</p>


                </div>
            </div>
        </div>
    </div>
    {% else %}
        <tr>
            <td colspan="14">no records found</td>
        </tr>
    {% endfor %}
</div>

    {% for stage in stages %}
        <tr>
            <td>{{ stage.id }}</td>
            <td></td>
            <td>{{ stage.entreprise }}</td>
            <td>{{ stage.description }}</td>
            <td>{{ stage.email }}</td>
            <td>{{ stage.ville }}</td>
            <td>{{ stage.adresse }}</td>
            <td>{{ stage.codePostal }}</td>
            <td>{{ stage.dateCreated ? stage.dateCreated|date('d/m/Y') : '' }}</td>
            <td>{{ stage.domaine }}</td>
            <td>{{ stage.periode ? stage.periode|date('d/m/Y') : '' }}</td>
            <td>{{ stage.duree }}</td>
            <td>{{ stage.niveau }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="14">no records found</td>
        </tr>
    {% endfor %}


{% endblock %}
