{% extends 'base.html.twig' %}

{% block title %}Stage index{% endblock %}

{% block body %}
    <h1>Stage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Entreprise</th>
                <th>Description</th>
                <th>Email</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Code_postal</th>
                <th>Date de création</th>
                <th>Domaine d'activité</th>
                <th>Période</th>
                <th>Durée</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stage in stages %}
            <tr>
                <td>{{ stage.id }}</td>
                <td>{{ stage.titre }}</td>
                <td>{{ stage.entreprise }}</td>
                <td>{{ stage.description }}</td>
                <td>{{ stage.email }}</td>
                <td>{{ stage.ville }}</td>
                <td>{{ stage.adresse }}</td>
                <td>{{ stage.codePostal }}</td>
                <td>{{ stage.dateCreated ? stage.dateCreated|date('d/m/Y') : '' }}</td>
                <td>{{ stage.domaine }}</td>
                <td>{{ stage.periode ? stage.periode|date('d/m/Y') : '' }}</td>
                <td>{{ stage.duree }}</td>
                <td>{{ stage.niveau }}</td>
                <td>
                    <a href="{{ path('stage_show', {'id': stage.id}) }}">show</a>
                    <a href="{{ path('stage_edit', {'id': stage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('stage_new') }}">Create new</a>
{% endblock %}