{% extends 'base.html.twig' %}

{% block title %}New Stage{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Stage</h1>

    {{ include('stage/_form.html.twig') }}

    <a href="{{ path('stage_index') }}">back to list</a>
</div>
{% endblock %}