{% extends 'base.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
    <h1>Stage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stage.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ stage.titre }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ stage.entreprise }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ stage.description }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ stage.email }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ stage.ville }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ stage.adresse }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ stage.codePostal }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ stage.dateCreated ? stage.dateCreated|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Domaine d'activité</th>
                <td>{{ stage.domaine }}</td>
            </tr>
            <tr>
                <th>Période</th>
                <td>{{ stage.periode ? stage.periode|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ stage.duree }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ stage.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stage_index') }}">back to list</a>

    <a href="{{ path('stage_edit', {'id': stage.id}) }}">edit</a>

    {{ include('stage/_delete_form.html.twig') }}
{% endblock %}